@import './reset';
@import './themes/dark';
@import './themes/normal';
@import './variables/global';

.app {
    display: flex;
    height: 100vh;
    overflow: hidden;
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
}

.content-page {
    flex: 3;
    padding: 20px;
    overflow-y: auto;
}

@media (width <= 768px) {
    .app {
        flex-direction: column;
    }

    .nav {
        min-width: 0;
    }
}