@import './reset.scss';
@import './themes/dark.scss';
@import './themes/normal.scss';
@import './variables/global.scss';

.app {
    display: flex;
    height: 100vh;
    overflow: hidden;
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
}

.main {
    flex: 3;
    padding: 20px;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .app {
        flex-direction: column;
    }

    .nav {
        min-width: 0;
    }
}