@import '../../../../app/styles/variables/global';

.button {
    width: 58px;
    height: 51px;
    padding: 10px 15px;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;

    &:hover {
        background-color: rgb(0 0 0 / 10%);
        box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    }

    svg {
        fill: var(--primary-color);
        width: 24px;
        height: 24px;
    }
}